
  <h1>{{ section.settings.text-1 }}</h1>


{% schema %}
  {
    "name": "Demo",
    "settings": [
      {
        "type": "text",
        "id": "text-1",
        "label": "Your Text"
      }
    ],
    "presets": [
      {
        "name": "Demo"
      }
    ]
  }
{% endschema %}