
<style>
.main-i-t{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
   .main-image-f{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
   } 
   .main-image-f{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
   }

</style>


<div class="main-i-t">
{% for block in section.blocks %}  
<div class="main-image-f">
    <img src="{{ block.settings.img-1 |  img_url: 'master' }}" alt="" width="300px">
    <h2>{{ block.settings.head-1 }}</h2>
</div>
{% endfor %}
</div>




{% schema  %} 
{
    "name": "Image and title",
    "settings": [
    
    ],
    "blocks": [
      {
        "name": "image",
        "type": "block",
        "settings": [
            {
            "type": "image_picker",
            "id": "img-1",
            "label": "Your Image"
        },
        {
            "type": "text",
            "id": "head-1",
            "label": "Heading",
            "default": "Heading"
        }
        ]
      }
    ],
    "presets": [
        {
            "name": "image and title"
        }
    ]
}

{% endschema %}